@charset "utf-8";
/* CSS Document */

html{   
	
	background-image:url(background.jpg);
	background-size:cover;
	}


body{
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:500;
	color:#FFFFFF;
	
	}


#storbox{
	
	width: 80%;
	height: 100%;
	position: absolute;
	left:0;
	margin-left:10%;
	top:0;
	overflow:auto;
	}


header{
	
	background-color:darkgrey;
	width:100%;
	height:17%;
	overflow:hidden;
	}


.nobelbox{
	
	float:left;
	height:100%;
	width:10%;
	background-image:url(nobelmedalj.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin-left:20px;
	overflow:auto;
	}


.nobelbox2{
	
	float:right;
	height:100%;
	width:10%;
	background-image:url(nobelmedalj.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin-right:20px;
	overflow:auto;
	}


h1{
	
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-variant:small-caps;
	font-size:70px;
	font-weight:400;
	color:#000;
	margin-top:15px;
	margin-right:6%;
	}


nav{
	
	width:100%;
	height:8%;
	background-color:#000;
	overflow:auto;
	}


ul{
	
	list-style:none;
	text-align:center;
	padding:0;
	margin:0;	
    }


li{
	
	height:52px;
	width:170px;
	float:left;	
	}


a{
	
	text-decoration:none;
	display:block;
	color:#FFFFFF;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:400;
	font-variant:small-caps;
	padding:14px;
	}


a:visited{
	
	text-decoration:none;
	}

li:hover a{
	
	color:#000000;
	transition:ease-in 0.2s;
	}
	
	
ul li:hover{
	
	background-color:#FFFFFF;
	transition:ease-in 0.5s;
	}



a:active{
	
	text-decoration:none;
	}

	
	
article{
	
	height:70%;
	width:70%;
	background-color: rgba(0,0,0,0.8);
	opacity:0.9;
	overflow:auto;
	float:left;
	}


section{
	
	margin-left:22px;
	padding:16px;
	box-sizing:border-box;
	}


h2{
	
	Text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-weight:700;
	font-variant:small-caps;
	font-size:32px;
	}
	
	
aside{	
	
	height:70%;
	width:30%;	
	background-color:rgba(0,0,0,0.8);	
	float:left;	
	}


img{
	width:240px;
	height:307px;
	background-size: 100% 100%;
	margin-left: 45px;
	margin-top: 30px;
	}


figcaption{
	
	font-weight:100;
	font-style:italic;
	margin-left:9%;
	margin-top:10px;
	}




footer{
	height:5%;
	width:100%;
	background-color:darkgray;
	clear:left;
	}	
